<h1> Register </h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div> 
        <label for="password">senha</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <button type="submit">Registrar</button>
</form>

<a href="/login">Login</a>
